@charset "utf-8";

body {
	background-color:#fafafa;
	font-family: 'Lato', sans-serif;
	font-size: 100%;
	color: #333;
}

h2{
	text-align: center;
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: 1.2em;
	font-weight: normal;
}

/* Cart item -- large screen columns positioned scattered */
/* default cart item main components style, 5 columns each cart item row */
.shopping_cart_item.cart_container {
	word-wrap: break-word;
	padding: 15px 5px 5px 4%;
	border-bottom: 1px solid #cccccc;
	margin-right: 5%;
}

#shopping_cart .cart-image {
	float:left;
	margin-right:2%;
	width: 110px;
}

#shopping_cart .product-desc {
	font-weight: bold;
	float:left;
	padding:2px 2px 0;
}

#shopping_cart .unit-price {
	font-weight: bold;
	float: left;
	margin-top:  5px;
	margin-left: 15px;
	font-size: 15px;
	color: grey;
	padding-bottom: 20px;
}

#shopping_cart .quatity {
	float: left;
	margin-top:  5px;
	margin-left: 20px;
}

.qty-text {
	text-align: center;
}

/* subtotal section */
#shopping_cart .subtotal-price {
	font-weight: bold;
	float: right;
	margin-top:  5px;
	font-size: 16px;
	color: red;
}

/* Cart item -- 4 columns in cart item row */
@media only screen and (min-width: 600px) and (max-width: 700px) {
	#shopping_cart .cart-image {
		width: 120px;
	}

	#shopping_cart .subtotal-price {
		float: left;
		margin-left: 20px;
	}
}

/* Cart item -- 3 columns in cart item row */
@media only screen and (min-width: 550px) and (max-width: 600px) {
	#shopping_cart .cart-image {
		width: 120px;
		margin-right:0px;
	}

	#shopping_cart .subtotal-price {
		margin-left: 20px;
	}

	#shopping_cart .unit-price,
	#shopping_cart .quatity,
	#shopping_cart .subtotal-price{
		float: right;
		clear: right;
	}
}


/* Cart item -- tiny screen columns adjustment */
@media only screen and (max-width: 550px) {
	#shopping_cart .cart-image {
		float:center;
		left: 20px;
		width: calc(100% - 40px);
	}

	#shopping_cart .product-desc,
	#shopping_cart .brand,
	#shopping_cart .remove,
	.product-desc-list {
		text-align: center;
		margin: 0px;
		margin-left: -5%;
		padding: 0px;
	}

	#shopping_cart .unit-price,
	#shopping_cart .quatity {
		text-align: center;
		margin: 0px;
		margin-left: -10%;
		padding-top: 5px;
	}

	#shopping_cart .subtotal-price {
		text-align: center;
		margin: 0px;
		margin-right: 8%;
		margin-left: -5%;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

/* product desc column */
#shopping_cart .brand {
	margin-top: 10px;
	font-size: 13px;
	color: grey;
	align-items: center;
}

#shopping_cart .remove {
	color: orange;
	font-size: 13px;
	margin-top: 10px;
	cursor: pointer;
}

/* quantity section */
.fa-minus {
	color: #DB7093;
}

.fa-plus {
	color: #DB7093;
}

.qty-text {
	margin-left: 2px;
	margin-right: 2px;
	font-weight:bold;
	font-size: 15px;
}

/* price prefix */
.unit-price-text::before { 
	content: "Price: $";
}

.subtotal-price-text::before { 
	content: "Subtotal: $";
}

/* Checkout Section -- large screen positioned at right side */
@media only screen and (min-width: 700px) {
	#shopping_cart .checkoutcont {
		float: right;
		text-align: right;
		width: 30%;
		margin-right: 10%;
	}

	.checkout-partial-price {
		font-weight: 600;
		margin: 15px;
		color: grey;
	}

	.checkout-total-price {
		font-weight: 600;
		color: red;
		font-size: 20px;
		margin: 15px;
	}
}

/* Checkout Section -- small screen positioned at center */
@media only screen and (max-width: 700px) {
	#shopping_cart .checkoutcont {
		text-align: center;
	}

	.checkout-partial-price {
		font-weight: 800;
		margin: 15px;
		color: grey;
	}

	.checkout-total-price {
		font-weight: 800;
		color: red;
		font-size: 20px;
		margin: 15px;
	}
}


/* Checkout button style -- overwrite the one in theme.css */
.button{
	margin: 0 auto;
	margin-top: 1.8em;
	margin-bottom: 2.5em;
	padding:0;
	 outline: none;
	 width: 135px;
	 height: 45px;
	 line-height: 43px;
	 text-align: center;
	 background-color: #fedadc;
	 border-radius: 50px;
	 border: 1px solid transparent;
	 font-size: 1em;
	 cursor: pointer;
	 transition: background-color .2s;
}

.button:hover{
	background-color: #f9d6d8;

}

/* Hover effect for the links*/
.fa-minus:hover, 
.fa-plus:hover, 
#shopping_cart .cart-image:hover,
#shopping_cart .product-title:hover,
#shopping_cart .remove:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

/* customized grid definition */
@media (max-width:550px)  {
	.col-tn-1 {
		width:calc((1/12) * 100%);
	}
	.col-tn-2 {
		width:calc((2/12) * 100%);
	}
	.col-tn-3 {
		width:25%;
	}
	.col-tn-4 {
		width:calc((4/12) * 100%);
	}
	.col-tn-5 {
		width:calc((5/12) * 100%);
	}
	.col-tn-6 {
		width:50%;
	}
	.col-tn-7 {
		width:calc((7/12) * 100%);
	}
	.col-tn-8 {
		width:calc((8/12) * 100%);
	}
	.col-tn-9 {
		width:75%;
	}
	.col-tn-10 {
		width:calc((10/12) * 100%);
	}
	.col-tn-11 {
		width:calc((11/12) * 100%);
	}
	.col-tn-12 {
		width:100%;
	}
}
